<div class="settings__container">
  <form [formGroup]="settings">
    <h1>Settings</h1>
    <div class="session">
      <p class="form_name">Session length</p>
      <mat-form-field appearance="outline">
        <mat-label> Session length(minutes)</mat-label>
        <input matInput formControlName="sessionLength" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="break">
      <p class="form_name">Break length</p>
      <mat-form-field appearance="outline" color="primary">
        <mat-label> Break length(minutes)</mat-label>
        <input matInput formControlName="breakLength" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="additional_break">
      <p class="form_name">Additional break length</p>
      <mat-form-field appearance="outline">
        <mat-label> Additional break length(minutes)</mat-label>
        <input matInput formControlName="additionalBreak" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="long_break_interval">
      <p class="form_name">Long break interval</p>
      <mat-form-field appearance="outline">
        <mat-label> Long break interval</mat-label>
        <input matInput formControlName="longBreakInterval" maxlength="1" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="autoplay">
    <p class="form_name">Auto play</p>
    <mat-slide-toggle [(ngModel)]="defaultConfig.autoplay"
      >Autoplay</mat-slide-toggle
    >
  </div>
  <div>
    <button
      mat-button
      color="primary"
      (click)="apply()"
      [disabled]="settings.invalid"
    >
      Apply
    </button>
  </div>
</div>
