<div class="pswd-ver">
  <div *ngIf="mode === 'resetPassword'">
    <form [formGroup]="passwordReset">
      <div class="new-password form-content">
        <p class="form-name">New password</p>
        <mat-form-field class="form" appearance="outline">
          <input matInput type="password" formControlName="newPassword" />
          <mat-error>Password must be at leat 6 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="retype-password form-content">
        <p class="form-name">Retype password</p>
        <mat-form-field class="form" appearance="outline">
          <input matInput type="password" formControlName="retypePassword" />
          <mat-error>Password must be at leat 6 characters</mat-error>
        </mat-form-field>
      </div>
    </form>
    <button
      (click)="resetPassword()"
      mat-raised-button
      [disabled]="
        passwordReset.invalid ||
        passwordReset.get('newPassword').value !=
          passwordReset.get('retypePassword').value
      "
      color="primary"
    >
      Submit
    </button>
  </div>

  <div *ngIf="mode === 'verifyEmail'">
    <h1>Hi, Welcome to Pomodoro</h1>
    <button (click)="confirmEmail()" mat-raised-button color="primary">
      Click to Confirm your email
    </button>
  </div>
</div>
