.pswd-ver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 80vh;
  text-align: center;
}

form {
  border: solid;
  border-radius: 10px;
  width: 25vw;
  padding: 10px;
}

.form {
  width: 100%;
}
button {
  margin-top: 10px;
}
