<div class="pswd-ver">
  <form [formGroup]="passwordReset">
    <div class="new-password form-content">
      <p class="form-name">New password</p>
      <mat-form-field class="form" appearance="outline">
        <input matInput type="password" formControlName="newPassword" />
      </mat-form-field>
    </div>
    <div class="retype-password form-content">
      <p class="form-name">Retype password</p>
      <mat-form-field class="form" appearance="outline">
        <input matInput type="password" formControlName="retypePassword" />
      </mat-form-field>
    </div>
  </form>
  <button
    (click)="resetPassword()"
    mat-raised-button
    [disabled]="
      passwordReset.invalid ||
      passwordReset.get('newPassword').value !=
        passwordReset.get('retypePassword').value
    "
    color="primary"
  >
    Submit
  </button>
</div>
