<mat-sidenav-container class="side-nav__container mat-subheading-1">
  <mat-sidenav #sidenav class="content">
    <mat-icon class="icon" (click)="sidenav.close()">clear</mat-icon>
    <div class="nav-content">
      <ul class="nav-list">
        <ng-container
          *ngTemplateOutlet="(afAuth.user | async) ? navProfile : navNoUser"
        ></ng-container>

        <ng-template #navProfile>
          <li><p (click)="logOut()">Logout</p></li>
          <li routerLink="/dashboard">Dashboard</li>
        </ng-template>

        <ng-template #navNoUser>
          <li><a [routerLink]="['login']" state="login">Login</a></li>
          <li><a [routerLink]="['/login']" state="sign up">Sign Up</a></li>
          <li>Features</li>
          <li>Learn about About Pomodoro</li>
        </ng-template>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <mat-icon
        class="icon"
        *ngIf="(breakPoint$ | async) === true"
        (click)="sidenav.open()"
        >table_rows</mat-icon
      >
      <div routerLink="/" class="logo">
        <img src="../assets/logo.svg" />
      </div>

      <div *ngIf="afAuth.user | async as user" class="profile">
        <div class="picture-container">
          <img
            routerLink="/dashboard"
            class="profile-picture"
            [src]="user.photoURL"
            onerror="this.src='../assets/contact.PNG'"
          />
        </div>
        <a
          class="logout"
          *ngIf="(breakPoint$ | async) === false"
          (click)="logOut()"
        >
          Log out</a
        >
      </div>

      <div *ngIf="(afAuth.user | async) === null" class="nav__container">
        <ul class="nav" *ngIf="(breakPoint$ | async) === false">
          <li>
            <a [routerLink]="['login']" state="login">Login</a>
          </li>
          <li>
            <a [routerLink]="['/login']" state="sign up">Sign Up</a>
          </li>
          <li>
            Features
          </li>
        </ul>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
