<mat-sidenav-container class="side-nav__container mat-subheading-1">
  <mat-sidenav #sidenav class="content">
    <mat-icon class="icon" (click)="sidenav.close()">clear</mat-icon>
    <div class="nav-content">
      <ul class="nav-list">
        <li>Login</li>
        <li>Sign Up</li>
        <li>Features</li>
        <li>Learn about About Pomodoro</li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <mat-icon
        class="icon"
        *ngIf="(breakPoint$ | async) === true"
        (click)="sidenav.open()"
        >table_rows</mat-icon
      >
      <div class="logo">
        <img routerLink="/" src="../assets/logo.svg" />
      </div>
      <div class="nav__container">
        <ul class="nav" *ngIf="(breakPoint$ | async) === false">
          <li>
            Login
          </li>
          <li>
            Sign Up
          </li>
          <li>
            Features
          </li>
        </ul>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
