.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 87, 87);
  font-size: 18px;
}

.nav {
  display: flex;
  list-style: none;
  color: white;
}

li {
  margin: 10px;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

img {
  width: 150px;
}

.nav__container,
.attribute {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: black;
  font-size: 18px;
}

.side-nav__container {
  height: 100vh;
  margin: 0;
}

.icon {
  cursor: pointer;
  float: right;
}
