.ripple__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ripple {
  font-family: 'Gloria Hallelujah', cursive;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  line-height: 300px;
  border-radius: 40px;
  color: white;
  background-color: #cc0000;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes expand-small {
  from {
    width: 300px;
    height: 80px;
  }
  to {
    width: 315px;
    height: 100px;
  }
}

@keyframes expand-normal {
  from {
    width: 500px;
    height: 120px;
  }
  to {
    width: 515px;
    height: 130px;
  }
}

.small {
  width: 300px;
  height: 180px;
  animation-name: expand-small;
}

.normal {
  width: 500px;
  height: 120px;
  animation-name: expand-normal;
}
