.login__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__wrap {
  margin-top: 20px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  display: inherit;
  flex-direction: inherit;
}

.form-field {
  width: 40vw;
}

.form-field-small {
  width: 100%;
}

.google-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google {
  border-radius: 10px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
