.login__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__wrap,
.login__wrap-small {
  margin-top: 20px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  display: inherit;
  flex-direction: inherit;
  width: 40vw;
}

.login__wrap-small {
  width: 80%;
}

.form-field {
  width: 100%;
}

.form-field-small {
  width: 100%;
}

.google-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google {
  border-radius: 10px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: underline;
}

button {
  margin-right: 10px;
}

@media screen and (min-width: 1020px) and (max-width: 1050px) {
  .login__wrap {
    width: 70%;
  }
}
