<div class="about__container mat-subheading-1">
  <div class="about">
    <h1 class="mat-headline">About Pomodoro</h1>
    <h3>Pomodoro technique is a time management method</h3>
    <h3>
      This application utilizes this technique to improve your productivity
    </h3>
    <h3>Let your time work for you!!!</h3>
  </div>
  <div class="attribute">
    <div class="attr-image">
      <img src="../assets/attr.svg" />
    </div>
    <div class="photos__container">
      <div class="heading">
        <h2>Team</h2>
      </div>
      <div class="photos">
        <div class="chika">
          <img src="../assets/chika.PNG" />
          <p>Emeka-Okafor Chika</p>
          <p>Software Engineer</p>
          <a
            href="https://linkedin.com/in/chika-echezona-emeka-okafor-51779417a"
            target="_blank"
          >
            Follow on LinkedIn</a
          >
        </div>
        <div class="william">
          <img src="../assets/william.png" />
          <p>william Akinsanya</p>
          <p>Software Engineer</p>
          <a
            href="https://linkedin.com/in/william-akinsanya-061739145"
            target="_blank"
          >
            Follow on LinkedIn</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
