.about__container,
.attribute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
}

h3 {
  font-weight: normal;
  font-size: 20px;
}

.attr-image {
  padding: 10px;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(255, 87, 87, 0.2),
    0 6px 20px 0 rgba(255, 87, 87, 0.19);
}

img {
  width: 100%;
}

.photos__container h2 {
  text-decoration: underline;
}

.photos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chika p,
.william p {
  text-decoration: none;
}

.chika img,
.william img {
  box-shadow: -1px 1px 0px 0px rgba(255, 87, 87, 0.2), -1px 0px 10px 0px;
  border-image: none;
  border-radius: 50% 50% 50% 50%;
  border-width: 25px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 50px 50px 10px 50px;
}

.photos__container {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
