<div class="timer__container">
  <div class="time">
    {{ timerDisplay$ | async | convertToMinutes }}
    <h2 [ngStyle]="{ animation: animations.animation }">:</h2>
    {{ timerDisplay$ | async | convertToSeconds }}
  </div>
  <div class="icon__wrap">
    <div>
      <ng-container
        *ngTemplateOutlet="toggle ? startToggle : pauseToggle"
      ></ng-container>
    </div>

    <mat-icon class="icon" (click)="restart()" svgIcon="restart"
      >restart</mat-icon
    >
  </div>

  <ng-template #startToggle>
    <mat-icon class="icon" (click)="start()" svgIcon="play">play</mat-icon>
  </ng-template>
  <ng-template #pauseToggle>
    <mat-icon class="icon" (click)="pause()" svgIcon="pause">pause</mat-icon>
  </ng-template>
</div>
