<div class="timer__container">
  <div class="task">
    <button mat-raised-button color="accent" (click)="openDiaglog()">
      <mat-icon>add</mat-icon>
      Create new Task
    </button>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title color="accent">Daily Statistics</mat-card-title>
      <mat-card-content>
        <p>Hey,</p>
        <p>You have completed {{ sessionCount }} sessions</p>
        <p>You had {{ breakCount }} breaks</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="time">
    {{ timeTrackerService.timerClass.seconds | convertToMinutes }}
    <h2 [ngStyle]="{ animation: animations.animation }">:</h2>
    {{ timeTrackerService.timerClass.seconds | convertToSeconds }}
  </div>
  <div class="icon__wrap">
    <div>
      <ng-container
        *ngTemplateOutlet="toggle ? startToggle : pauseToggle"
      ></ng-container>
    </div>
    <mat-icon class="icon" (click)="restart()">replay</mat-icon>
  </div>

  <ng-template #startToggle>
    <mat-icon class="icon" (click)="start()">play_circle_filled</mat-icon>
  </ng-template>
  <ng-template #pauseToggle>
    <mat-icon class="icon" (click)="pause()">pause_circle_filled</mat-icon>
  </ng-template>
</div>
