<div class="settings__container mat-subheading-1">
  <form [formGroup]="settings">
    <h1>Settings</h1>
    <div class="session">
      <p class="form_name">
        Session length
        <mat-icon
          matTooltip="Time duration for each session"
          matTooltipPosition="below"
          matTooltipHideDelay="1000"
          matTooltipClass="tool-tip"
          >help_outline</mat-icon
        >
      </p>
      <mat-form-field appearance="outline">
        <mat-label> Session length(minutes)</mat-label>
        <input matInput formControlName="sessionLength" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="break">
      <p class="form_name">
        Break length
        <mat-icon
          matTooltip="Time duration for break time"
          matTooltipPosition="below"
          matTooltipHideDelay="1000"
          matTooltipClass="tool-tip"
          >help_outline</mat-icon
        >
      </p>
      <mat-form-field appearance="outline" color="primary">
        <mat-label> Break length(minutes)</mat-label>
        <input matInput formControlName="breakLength" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="additional_break">
      <p class="form_name">
        Additional break length
        <mat-icon
          matTooltip="Additional time added to the break time during long break"
          matTooltipPosition="below"
          matTooltipHideDelay="1000"
          matTooltipClass="tool-tip"
          >help_outline</mat-icon
        >
      </p>
      <mat-form-field appearance="outline">
        <mat-label> Additional break length(minutes)</mat-label>
        <input matInput formControlName="additionalBreak" maxlength="2" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>

    <div class="long_break_interval">
      <p class="form_name">
        Long break interval
        <mat-icon
          matTooltip="Number of sessions before a long break"
          matTooltipPosition="below"
          matTooltipHideDelay="1000"
          matTooltipClass="tool-tip"
          >help_outline</mat-icon
        >
      </p>
      <mat-form-field appearance="outline">
        <mat-label> Long break interval</mat-label>
        <input matInput formControlName="longBreakInterval" maxlength="1" />
        <mat-error>number is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="autoplay">
    <p class="form_name">
      Auto play
      <mat-icon
        matTooltip="This determines if the timer toggles between session and break time automatically"
        matTooltipPosition="below"
        matTooltipClass="tool-tip"
        matTooltipHideDelay="1000"
        >help_outline</mat-icon
      >
    </p>
    <mat-slide-toggle [(ngModel)]="autoPlay"></mat-slide-toggle>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="apply()"
      [disabled]="settings.invalid"
    >
      Apply
    </button>
  </div>
</div>
