.settings__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 234, 228);
}

p {
  display: inline-block;
  width: 250px;
  padding: 20px;
}

button {
  margin-top: 40px !important;
}

mat-icon {
  cursor: pointer;
}

.tool-tip {
  height: auto;
  line-height: 15px;
  background-color: #e71d36;
  width: auto;
}
