.settings__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 234, 228);
}

p {
  display: inline-block;
  width: 200px;
  padding: 20px;
}

button {
  margin-top: 10px;
}
